body {
	padding-top: 70px;
	padding-bottom: 60px;
	background-color: #e5e5e5;
    /*word-wrap: break-word;*/
}

.nav-links.active {
	color: #FFFFFF !important;
}

.contour {
	border: 1px solid #333;
	border-radius: 5px;
	padding: 20px 30px;
}


.thumb {
	max-width: 100px;
	max-height: 60px;
}

.table-responsive {
	/*width: 100% !important;*/
}
/* !!!!!!!!!!!!!!!!!!!!! 
div Background-size cover 
widht, height = 13vw

width padding bottom 31%

position relative 
float left
*/
.table-bordered,
.table-bordered td,
.table-bordered th {
	border: 1px solid #AAA !important;
}

.center-table,
.center-table th,
.center-table td {
	text-align: center !important;
	vertical-align: middle !important;
}

.container-fit {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.btn-select {
	padding: 0;
}

.btn-select > .card {
	/*background-color: blue;*/
}

.btn-select.active .card {
	background-color: #5cb85c;
}

.btn-select .card:hover {
	box-shadow: 0 0 10px;
	/*background-color: #5cb85c;*/
}

.card-check {
	position: relative !important;
	display: inline-block !important;
}

.navbar {
	box-shadow: 0 0 20px 1px;
}

.shadow {
	box-shadow: 0 3px 5px;
}
.shadow:hover {
	box-shadow: 0 3px 10px;
}

.absolute {
	position: absolute;
}

.folder-delimiter {
	border-bottom: 2px solid #006EB1;
}

.fond-blanc {
	background-color: #eee;
}

.center-block {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}