.pagination {
	justify-content: center;

	li {
		a, span {
			position: relative;
			display: block;
			padding: .75rem 1.5rem;
			font-size: 1.25rem;
			line-height: 1.5;
			margin-left: -1px;
			color: #fff;
			border: 1px solid #dee2e6;

			&:not(:disabled):not(.disabled) {
				cursor: pointer;
			}
		}

		&.disabled {
			a, span {
				color: #888;
				pointer-events: none;
				cursor: auto;
				border-color: #dee2e6;
			}
		}
		&.active {
			a, span {
				background-color: #fff;
				color: #1e1e1e;
			}
		}
		&:last-child {
			a, span {
				border-top-right-radius: .3rem;
				border-bottom-right-radius: .3rem;
			}
		}
		&:first-child {
			a, span {
				border-top-left-radius: .3rem;
				border-bottom-left-radius: .3rem;
			}
		}
		&:hover {
			a, span {
				z-index: 2;
				color: #1e1e1e;
				text-decoration: none;
				background-color: #fff;
				border-color: #dee2e6;
			}
		}
	}
}
